body {
  background-color: white;
  margin: 0px;

  .Navbar {
    background-color: rgba(94,23,235,255);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .links {

      a {
        font-family: 'Walter';
        text-decoration: none;
        color: white;
        margin: 10px 50px 10px 10px;
      }
    }

    .logo {
      max-width: 200px;
      margin: 10px 10px 10px 50px
    }
  }
  .routes{
    width: 50%;
    align-content: center;
    margin: auto;
    .homeContainer{
      h1{
        text-align: center;
      }
      .InputRows {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        text-align: center;
        .UserInput {
          display: flex;
          flex-direction: column;
        }
      }
      .tableSelector {
        display: flex;
        align-items: center;
        justify-content: center;
        //border: 2px solid rgba(94,23,235,255);
        //border-radius: 10px;
        margin-bottom: 15px;
        .tableButtonSelectors {
          //border-radius: 10px;
          display: block;
          width: 100%;
          background-color: rgba(94,23,235,255);
          color: white;
        }
      }

      table {
        display: flex;
        flex-direction: column;
        border-style: solid;
        tr{
          display: flex;
          justify-content: space-between;
        }
        thead > tr > th{
          border: solid black 1px;
          width: auto;
        }
      }
    }
    .aboutContainer {
      text-align: center;
    }
  }
}
