body {
  background-color: #EDE7E3;
  margin: 0px;

  ::-webkit-scrollbar {
    height: 7px;
    width: 7px;
    color: rgba(94,23,235,255);
  }
  ::-webkit-scrollbar-thumb {
    background: #8F8F8F;
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover {
  background: #8955F1;
}

  .Navbar {
    background-color: rgba(94,23,235,255);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .links {

      a {
        font-family: 'Walter';
        text-decoration: none;
        color: white;
        margin: 10px 50px 10px 10px;
      }
    }

    .logo {
      max-width: 150px;
      margin: 10px 10px 10px 50px
    }
  }
  .routes{
    width: 60%;
    align-content: center;
    margin: auto;
    .homeContainer{
      //border: 2px solid rgba(94,23,235,255);
      h1{
        text-align: center;
      }
      .InputRows {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        text-align: center;
        .UserInput {
          display: flex;
          flex-direction: column;
        }
      }
      .tableSelector {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        border: 3px solid rgba(94,23,235,255);
        border-radius: 4px;
        margin-bottom: 15px;
        overflow-x: auto;
        .tableButtonSelectors {
          border: none;
          display: block;
          padding: 10px;
          width: 100%;
          background-color: #EDE7E3;
          color: rgba(94,23,235,255);;
          &:hover {
            transition: 0.3s;
            background-color: rgba(94,23,235,255);
            color: #EDE7E3;
            cursor: pointer;
          }

        }
        .active {
          border: none;
          display: block;
          padding: 10px;
          width: 100%;
          background-color: rgba(94,23,235,255);
          color: #EDE7E3;
        }
      }
      .container {
        display: flex;
        overflow-x: scroll;
        overflow-y: scroll;
        max-height: 400px;
        margin-bottom: 50px;
        table {
          display: flex;
          flex-direction: column;
          border-style: solid;
          width:100%;
          tr{
            display: flex;
            justify-content: space-between;
            width: 100%;
          }

          thead > tr > th{
            background-color: #F7F4F3;
            border: solid black 1px;
            overflow-x: hidden;
            min-width: 100px;
            width: 100%;
          }
          td {
            background-color: #F7F4F3;
            border: solid black 1px;
            overflow-x: hidden;
            overflow-y: hidden;
            min-width: 100px;
            width: 100%;
            max-height: 150px
            }
          }
        }
        .queryGenerator{
          .tableButtons{
            display: flex;
            justify-content: center;
            margin: 15px;
            .tableDropdown{
              border: 2px solid rgba(94,23,235,255);
              border-radius: 4px;
              margin: 0px 15px;
              }
            .okayButton {
              border: 2px solid rgba(94,23,235,255);
              border-radius: 4px;
            }
          }
        }
      }
    }
    .aboutContainer {
      text-align: center;
    }
}
  // .active {
  //   background-color: black;
  // }
